<div class="card shadow-effect" *ngIf="postData" [routerLink]="['/post',postData.id]">
    <img src="{{postData.data.postImgPath}}" style="min-height: 220px; max-height: 220px;" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">{{postData.data.category.category}}</small>
        <small class="bg-light text-success text-center m-3" *ngIf="postData.data.isFeatured">Featured</small>
        <small class="bg-light text-info text-center m-2">{{postData.data.views}}</small>

        <h5 class="mt-1">{{postData.data.title}}</h5>
        <p style="min-height: 140px; max-height: 140px;">{{postData.data.excerpt}}</p>

        <small class="bg-light text-warning text-center mt-3" > Last Updated - {{postData.data.createdAt.toMillis() | date}}</small>
    </div>
</div>